body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 189, 235);
    box-shadow: 5px 5px 5px rgb(150, 150, 150);
    z-index: 10;
    height: 250px;
}

.main{
    background-color:rgb(236, 236, 236) ;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    padding-top: 40px;
}

.bookItem{
    height: 250px;
    width: 180px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
    margin: 20px;
}